.NavItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 30px;
    background-color: #222;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 65px;
    border-radius:13px ;
    position: fixed;
    top:20px;
    left: 50%;
    transform: translate(-50%);
}

.logo {
    color:#fff;
    text-shadow: 0 0 5px #fff,

    0 0 10px #fff, 0 0 15px #ad33fd,
    0 0 20px #ad33fd, 0 0 25px #ad33fd,
    0 0 30px #ad33fd, 0 0 30px #ad33fd;

    justify-self: start;
    cursor: pointer;
}

.fa-computer {
    margin-left: 0.4rem;
    font-size: 1.6rem;
}

.NavMenu {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    /* position:absolute; */
}

.navLinks {
    text-decoration: none;
    color: white;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.navLinks i {
    padding-right: 10px;
}

.navLinks:hover{
    text-shadow: 0 0 5px #fff,

    0 0 10px #fff, 0 0 15px #ad33fd,
    0 0 20px #ad33fd, 0 0 25px #ad33fd,
    0 0 30px #ad33fd, 0 0 30px #ad33fd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    

}

.fa-bars,
.fa-times {
    color: #fff
    ;
}

.MenuIcons {
    display: none;
}

.getStarted {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    background-color: #fafafa;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color:#222;
}

.getStarted:hover{

    background-color: #ad33fd;

    transition: 0.5s;
    color:#fff

}

@media screen and (max-width: 850px){
    .NavItems{
        z-index: 99;
    }

    .NavMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(225, 225, 225, .25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37);
        backdrop-filter:blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position:absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding:80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }

    .NavMenu.active {
        left:0%;
    }

    .navLinks{
        display: block;
        widows: 100%;
        padding: 2rem 0;
        color: black;
    }

    .navLinks:hover {
        background-color: rgba(225, 225, 225, .25);
        backdrop-filter: blur(20px);
    }

    .MenuIcons {
        display: block;
    }

    .getStarted {
        padding: 1.5rem;
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: bold;
        width: 80%;
        margin:auto;
    }
}