
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profileContainer {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./Img/stock_fall_landscape.jpg);
    background-size: cover;
}

.contactInfo {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction:column; */
    font-size: 15px;
    width: 300px;
    height:300px;
    position:absolute;
    left: 5%;
    bottom: 20%;
    padding: 5px;
    margin: 5px;
    background-color: rgb(106, 166, 210);
    border-radius:13px;
    color: #fff;
    border-color:#fff;
}



.sampleBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    font-size:15px;
    bottom: 45%;
    left: 70%; 
    width: 300px;
    height: 40%;
    border-radius: 13px;
    background-color:  rgb(106, 166, 210);
    color: #fff;
    border-color: #fff;
}

.cardHeader {
    font-size: 20px;
    text-align:center;
    background-color: violet;
    margin: 3px;
    border-radius: 13px;
}

.skillList {
    position: absolute;
    left: 70%;
    bottom: 2%;
    font-size: 15px;
    width: 300px;
    height: 40%;
    border-radius: 13px;
    background-color: rgb(106, 166, 210);
    color: #fff;
    border-color: #fff;
}
