* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.supportContact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./Img/Screen\ Shot\ 2022-11-28\ at\ 8.54.32\ AM.png);
    background-size: cover;
}

.supportContent{
    margin-top: 4rem;
}

.supportContact .supportContent {
    max-width: 800px;
    text-align: center;
}

.supportContact .supportContent h2{
    font-size: 36px;
    font-weight: 500;
    color:#fff;
}

.supportContact .supportContent p{
    font-weight: 300;
    color:#fff;
}

.supportContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.supportContainer .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.supportContainer .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.supportContainer .contactInfo .box .icon{
    min-width: 60px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.supportContainer .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
    color:#fff;
}

.supportContainer .contactInfo .box .text h3{
    font-weight: 500;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 30px;
}

.contactForm h2 {
    font-size:30px;
    color:#333;
    font-weight: 500;
}

.contactForm .inputBox {
    position:relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size:1 6px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .supportContact{
        padding: 120px;
    }
    .supportContainer{
        flex-direction: column;
    }
    .supportContainer .contactInfo{
        margin-bottom: 40px;
    }
    .supportContainer .contactInfo,
    .contactForm{
        width: 100%;
    }
}